In [1]:
import pandas as pd
import numpy as np

In [2]:
pd_BookRatings = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', delimiter=';', error_bad_lines=False, encoding='latin-1')

pd_Books = pd.read_csv('BX-CSV-Dump/BX-Books.csv', delimiter=';', encoding='latin-1', error_bad_lines=False)

pd_Users = pd.read_csv('BX-CSV-Dump/BX-Users.csv', delimiter=';', encoding='latin-1', error_bad_lines=False)

# join the data frames using the isbn and the user id
pd_combined1 = pd.merge(pd_BookRatings, pd_Books, on='ISBN', how='left')
pd_combined2 =pd.merge(pd_combined1, pd_Users, on='User-ID', how='left')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/home/sammy/data_science/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# count()

The pandas count() function actually counts the number of values in each columns or the columns specified. NB count function counts the number of entries/rows on the column specified or the dataframe specified

In [3]:
pd_combined2.count()

User-ID                1149780
ISBN                   1149780
Book-Rating            1149780
Book-Title             1031136
Book-Author            1031135
Year-Of-Publication    1031136
Publisher              1031134
Image-URL-S            1031136
Image-URL-M            1031136
Image-URL-L            1031132
Location               1149780
Age                     840288
dtype: int64

To count the number of Book ratings in the pd_combined2 dataframe, just specify the column

In [4]:
pd_combined2[['Book-Rating']].count()

Book-Rating    1149780
dtype: int64

# sum()

This function sums the values in the entries of the dataframe or the column specified

In [5]:
pd_combined2[['Book-Rating']].sum()

Book-Rating    3296362
dtype: int64

In [6]:
# Kindly note the difference between the values returned by count() and sum() on the same column of a dataframe

In [7]:
# count() returns the count of the entries of that column while sum() returns the total sum/(addition) of the entries of that column

# min()

This functions returns the smallest entry value of a specified column

In [8]:
pd_combined2[['Age']].min()

Age    0.0
dtype: float64

# max()

This function returns the maximum value of a specified column entry

In [9]:
pd_combined2[['Age']].max()

Age    244.0
dtype: float64

# mean()

This function returns the statistical average of the entries in a specified column

In [10]:
pd_combined2[['Age']].mean()

Age    37.239724
dtype: float64

# median()

In [11]:
pd_combined2[['Age']].median()

Age    35.0
dtype: float64

# groupby()

In [14]:
pd_combined2[['ISBN', 'Age']].groupby('ISBN')['Age'].count().sort_values(ascending=False).head(10)

ISBN
0971880107    2141
0316666343     920
0385504209     695
0060928336     509
0671027360     482
0312195516     472
0679781587     447
0142001740     445
059035342X     415
0446672211     408
Name: Age, dtype: int64

# Test questions

In [23]:
pd_data = pd.read_csv('pandas_tutorial_read.csv', delimiter=',')

In [24]:
pd_data.columns = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']

ValueError: Length mismatch: Expected axis has 1 elements, new values have 6 elements